.todo-list-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.todo-list-description {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #EEE;
}

.todo-list-content {
  margin: 40px 0;
  width: 900px;
}

.todo-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.todo-item-action {
  display: flex;
  align-items: center;
}
